/*** RESET ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*** BASE PAGE ***/
body {

}

/*** HAMBURGER BUTTON ***/
.card {
    background: #3FAF82;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    height: 400px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    z-index: 1;
}

.mainWrapper {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 1;
}

.menuIcons {
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    width: 100px;
}

.menuIcons div {
    background-color: aliceblue;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 100%;
    height: 13px;
}

.menuIcons.active .line1 {
    animation: animateLine1 .7s forwards;
}

.menuIcons.active .line2 {
    animation: animateLine2 .7s forwards;
}

.menuIcons.active .line3 {
    animation: animateLine3 .7s forwards;
}

@keyframes animateLine1 {
    0% {
        transform: translate3d(0, 0, 0) rotate(0);
    }
    50% {
        transform: translate3d(0, 33px, 0) rotate(0);
    }
    100% {
        transform: translate3d(0, 33px, 0) rotate(45deg);
    }
}

@keyframes animateLine3 {
    0% {
        transform: translate3d(0, 0, 0) rotate(0);
    }
    50% {
        transform: translate3d(0, -33px, 0) rotate(0);
    }
    100% {
        transform: translate3d(0, -33px, 0) rotate(135deg);
    }
}

@keyframes animateLine2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}